.led {
  cursor: pointer;

  & > div {
    height: 100%;
  }

  &,
  & > div {
    transition: background-color ease-in-out .3s;
  }

  &:hover {
    background-color: #2980B9;
  }

  &.selected > div {
    border: 2px dashed #2980B9;
  }
}